<div class="flex flex-col gap-10 lg:mx-36 m-16">
    <h2 class="text-black font-semibold text-4xl">Sugerencias</h2>
    <div
        class="max-h-screen flex justify-between 
    flex-col gap-5 
     lg:flex-row lg:items-center"
    >
        <div class="rounded-2xl flex w-1/3 justify-between bg-gray-100 p-4">
            <div class="flex flex-col items-start gap-2">
                <h4 class="font-semibold text-lg">Viaje</h4>
                <span class="text-balance  text-sm"
                    >Viaje a cualquier lugar con la app de Uber. Pida un viaje,
                    súbase y relájese.</span
                >
                <button
                    class="bg-white rounded-2xl px-3 py-1 font-semibold hover:bg-gray-300 transition-all"
                    >Detalles</button
                >
            </div>
            <img class="h-full size-36" src="/ride.png" alt="auto" />
        </div>

        <div class="rounded-2xl flex w-1/3 justify-between bg-gray-100 p-4">
            <div class="flex flex-col items-start gap-2">
                <h4 class="font-semibold text-lg">Envios</h4>
                <span class="text-balance  text-sm"
                    >Con Uber Flash, las entregas en el mismo día son más
                    fáciles que nunca.</span
                >
                <button
                    class="bg-white rounded-2xl px-3 py-1 font-semibold hover:bg-gray-300 transition-all"
                    >Detalles</button
                >
            </div>
            <img
                class="h-full  size-36"
                src="/connect.png"
                alt="paquete envio"
            />
        </div>

        <div class="rounded-2xl flex w-1/3 justify-between bg-gray-100 p-4">
            <div class="flex flex-col justify-around items-start gap-2">
                <h4 class="font-semibold text-lg">Reserve</h4>
                <span class="text-balance  text-sm"
                    >Reserve su viaje con anticipación para que pueda relajarse
                    ese día.</span
                >
                <button
                    class="bg-white rounded-2xl px-3 py-1 font-semibold hover:bg-gray-300 transition-all"
                    >Detalles</button
                >
            </div>
            <img
                class="h-full  size-36"
                src="/reserve_clock.png"
                alt="Reloj calendario"
            />
        </div>
    </div>
</div>
